.items-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    font-family: 'Roboto Slab';
}

.bottom-bar-link-container {
    margin-top: 0.5em;
    a {
        color: white;
        display: flex;
        align-items: center;
        max-height: 5vh;
        text-decoration-line: none !important;
        &:hover {
            text-decoration-line: underline !important;
        }
    }
    
    span {
        margin: 1.5vh 1vw;
    }
}
